body {
    font-family: Arial, sans-serif;
    background-color: powderblue;
}

button {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    padding: 5px 10px;
    margin: 4px;
    font-size: large;
    cursor: pointer;
}
button:hover {
    background-color: lightcoral;
}
