body {
    font-family: Arial, sans-serif;
    background-color: purple;
}

button {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    padding: 5px 10px;
    margin: 4px;
    font-size: large;
    cursor: pointer;
}
button:hover {
    background-color: lightcoral;
}
.return-button {
    background-color: lightblue;
    color: hotpink;
    font-size: large;
    font-weight: bold;
}
.return-button:hover {
    background-color: hotpink;
    color: lightblue;
}

.button-group {
    position: relative;
    display: inline-flex;
    align-items: center;
}
.main-button {
    z-index: 2;
}
.extra-buttons {
    display: flex;
    gap: 8px;
    margin-left: 8px;

    opacity: 0;
    transform: translateX(-20px);
    pointer-events: none;

    transition: all 0.3s ease;
}
.button-group.open .extra-buttons {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
}
.extra-buttons button {
    background-color: lightblue;
    color: rgb(174, 20, 174);
    transition: transform 0.2s ease;
}
.extra-buttons button:hover {
    background-color: rgb(174, 20, 174);
    color: lightblue;
    transform: scale(1.05);
}

#deleteBtn {
    background-color: black;
    color: red;
}
#deleteBtn:hover {
    background-color: red;
    color: black;
}
