.button {
    cursor: pointer;
    border: 0;
    padding: 10px 14px;
    border-radius: 8px;
}

#return-button {
    background-color: hotpink;
    color: lightblue;
    font-weight: 600;
    cursor: pointer;
}
#return-button:hover {
    background-color: lightblue;
    color: hotpink;
}
